<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
    <h2>Bienvenido al Loader</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis justo sapien, pellentesque congue dolor sodales vel. </p>
  </div>
  
  <ion-button (click)="startLoading()">Continuar</ion-button>
</ion-content>

<app-custom-loader [isLoading]="isLoading" configType="A" [customConfig]="{loaderColor: 'white'}"></app-custom-loader>